<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="includes.html :: headCommon ('Home - YouPassed')"></head>

<body>

<div th:insert="includes.html :: navAdmin"></div>

<main class="page landing-page">
	<section class="clean-block clean-hero" style="background-image: url('/img/tech/image4.jpg');color: rgba(9, 162, 255, 0.85); height: 760px;">
		<div class="text">
			<h2>Wow, you are an admin!</h2>
			<p>That's really cool, man!</p>
		</div>
	</section>
</main>

<div th:replace="includes.html :: footer"></div>

</body>
</html>
