<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="includes.html :: headCommon ('Exams - YouPassed')"></head>

<body>

<div th:with="examsActive='active'" th:insert="includes.html :: navAdmin"></div>

<main class="page catalog-page">
	<section class="clean-block clean-catalog dark">
		<div class="container">
			<div class="block-heading" style="padding-top: 120px">
				<h2 class="text-info">Exams List</h2>
			</div>
			<div class="content">
				<div class="table-responsive table-borderless">
					<table class="table table-sm table-striped">
						<thead>
						<tr>
							<th>Subject</th>
							<th>Date</th>
							<th>Location</th>
							<th></th>
						</tr>
						</thead>
						<tbody>
						<tr th:each="exam : ${examList}">
							<td th:text="${exam.subject}">Subject</td>
							<td th:text="${exam.date}">00.00.00</td>
							<td th:text="${exam.location}">Somewhere</td>
							<td>
								<form th:action="@{'/admin/exams/edit/' + ${exam.id}}" method="get">
									<button class="btn btn-primary" type="submit"
									        style="font-size: 14px;padding-bottom: 0px;padding-top: 0px;">Edit
									</button>
								</form>
							</td>
						</tr>
						<tr></tr>
						</tbody>
					</table>
					<div style="padding-top: 12px;">
						<form th:action="@{/admin/exams/new}" method="get">
							<button class="btn btn-primary btn-block" type="submit">+ New Exam</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>

<div th:replace="includes.html :: footer"></div>

</body>
</html>