<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="includes.html :: headCommon ('Edit Major - YouPassed')"></head>

<body>

<div th:insert="includes.html :: navAdmin"></div>

<main class="page registration-page">
	<section class="clean-block clean-form dark">

		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">

					<div class="block-heading" style="padding-top: 120px">
						<h2 class="text-info">Edit Major</h2>
					</div>

					<form th:action="@{/admin/majors/save}" method="post" th:object="${major}">

						<label for="id">ID</label>
						<input class="form-control item" type="number" id="id" name="id" th:field="*{id}" disabled>
						<label for="title">Title</label>
						<input class="form-control item" type="text" id="title" name="title" required="required"
						       th:field="*{title}">
						<label for="capacity">Student Capacity</label>
						<input class="form-control item" type="number" min="0" id="capacity" name="capacity" required="required"
						       th:field="*{capacity}">
						<label for="applicants">Applicants</label>
						<input class="form-control item" type="text" id="applicants" name="applicants" required="required"
						       th:field="*{applicants}" disabled>

						<div style="padding-top: 12px">
							<button class="btn btn-primary btn-block" type="submit"
							        th:formaction="@{/admin/majors/save}" th:value="${major}">Save Major
							</button>
						</div>

						<div th:if="${major.id != null}" style="padding-top: 12px">
							<button class="btn btn-danger btn-block" type="submit" th:value="${major}"
							        th:formaction="@{/admin/majors/remove}"
							        onclick="return confirm('Are you sure you want to delete this major permanently?');">Remove Major
							</button>
						</div>

					</form>

					<h5 class="text-center text-secondary" style="margin-bottom: 20px;margin-top: 12px;">Required Exams</h5>
					<div class="table-responsive table-borderless" style="font-size: 15px;">
						<table class="table table-sm">
							<thead>
							<tr>
								<th>Subject</th>
								<th>Date</th>
								<th>Location</th>
							</tr>
							</thead>
							<tbody>

							<form th:action="@{/admin/majors/edit/remove-exam}" th:method="POST">
								<tr th:each="exam, itemStat : ${major.exams}">
									<td th:text="${exam.subject}">Subject</td>
									<td th:text="${exam.date}">20.12.2020</td>
									<td th:text="${exam.location}">Location</td>
									<td>
										<button class="btn btn-danger btn-sm" type="submit"
										        th:value="${itemStat.index}" name="examIdx"
										        onclick="return confirm('Are you sure you want to delete this exam from the major?');">
											Remove
										</button>
									</td>
								</tr>
							</form>

							<tr>
								<form th:action="@{/admin/majors/edit/add-exam}" th:method="POST">
									<td colspan="4">
										<select th:name="examId">
											<option th:each="examOption, itemStat : ${examList}"
											        th:value="${examOption.id}" th:text="${examOption.subject}">Exam Option
											</option>
										</select>
										<button class="btn btn-outline-primary btn-sm" type="submit">Add Exam</button>
									</td>
								</form>
							</tr>

							</tbody>
						</table>
					</div>

				</div>
			</div>
		</div>

		</div>
	</section>
</main>

<div th:replace="includes.html :: footer"></div>

</body>
</html>