<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="includes.html :: headPublic ('Home - YouPassed')"></head>

<body>

<div th:with="homeActive='active'" th:insert="includes.html :: navPublic"></div>

<main class="page landing-page">
	<section class="clean-block clean-hero" style="background-image: url('/img/tech/image4.jpg');color: rgba(9, 162, 255, 0.85); height: 760px;">
		<div class="text">
			<h2>Go study, you lazy little prick!</h2>
			<p>Seriously, choose your proffession and take exams. It's easy, and mom will be proud of you. If you pass.</p>
		</div>
	</section>
</main>

<div th:replace="includes.html :: footer"></div>

</body>
</html>